.city-selector-component-left-side .input-field,
.city-selector-component-left-side .city-list {
  width: 90%;
}

.half-city-selector-component {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 40px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.input-city-selector {
  color: white;
}

.collection {
  max-height: 50vh;
  overflow: auto;
}
