body{
  background-image: url("./img/background.jpg");
  background-size: cover;
}

.city-selector-component-left-side{
  float: right;
  width: 50% !important;
  background: none !important;
  margin-top: 0 !important;
}

.current-weather-component{
  float: left;
  width: 50%;
  margin-top: 40px;
}

.input-city-selector{
  width: 30%;
}

.city-selector-component{
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
  padding: 40px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

